@use "../sass/variables" as *;
body {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: $GrayishViolet;
    font-weight: 600;
    transition: color .2s ease;
}
a:hover {
    color: $DarkViolet;
}
p {
    color: $GrayishViolet;
}
ul {
    list-style: none;
    padding: 0;
}

.styled-btn {
    color: #fff;
    background-color: $Cyan;
    padding: 0.6rem 1.3rem;
    border-radius: 25px;
    transition: opacity .2s ease;
    &:hover {
        opacity: 75%;
    }
}